* {
  font-family: "Calibri";
  color: floralwhite;
}

div {
  padding-top: 20px;
  padding-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

.mainBody {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(96,0,186,1) 0%, rgba(0,78,194,1) 100%);
}

.documentationBody {
  background: linear-gradient(90deg, rgba(0,153,255,1) 0%, rgba(0,80,255,1) 100%);
}

.container {
    width: 40em;
    height: 40em;
    position: relative;
}

.lugaLogoSecond {
  top: 5em;
  left: 5em;
  width: 15em;
  height: 15em;
  animation: orbit 36.5s
    linear infinite;
}
.lugaLogoMain::before,
.lugaLogoSecond::before {
    position: absolute;
}
.lugaLogoSecond::before {
  top: 2.8em;
  right: 2.8em;
  width: 3em;
  height: 3em;
}
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 85px;
  font-weight: bold;
}

.bottomText {
  font-size: 30px;
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.inviteButton {
  background-color: #008CBA;
}

.documentationButton {
  background-color: #7700ff;
}
