* {
  font-family: "Calibri";
  color: floralwhite;
}

div {
  padding-top: 30px;
  padding-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
}

body {
  background: linear-gradient(90deg, rgba(96,0,186,1) 0%, rgba(0,78,194,1) 100%);
}

img {
    border-radius: 5px;
}

.blackText {
  color: black;
}

.Center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
}

.luaLogoMain {
  z-index: 1;
  position: absolute;
}

.luaLogoSecond {
  z-index: 2;
  position: static;
  top: 0;
  left: 0;
  animation: orbit 25s
    linear infinite;
}

@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 95px;
  font-weight: bold;
}

.subTitle {
  font-size: 65px;
  font-weight: bold;
}

.bottomText {
  font-size: 30px;
  text-align: center;
}

.button {
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.inviteButton {
  background-color: #008CBA;
  transition: all 0.2s ease-in-out;
}

.inviteButton:hover {
  background-color: #00abe3;
  box-shadow: 0 5px 15px #008CBA;
}

.documentationButton {
  background-color: #7700ff;
  transition: all 0.2s ease-in-out;
}

.documentationButton:hover {
  background-color: #8a24ff;
  box-shadow: 0 5px 15px #7700ff;
}

.patreonButton {
  background-color: #ff424d;
  transition: all 0.2s ease-in-out;
}

.patreonButton:hover {
  background-color: #ff6971;
  box-shadow: 0 5px 15px #ff424d;
}

.supportServer {
  background-color: #7289da;
  transition: all 0.2s ease-in-out;
}

.supportServer:hover {
  background-color: #91aaff;
  box-shadow: 0 5px 15px #7289da;
}
