* {
  font-family: "Calibri";
  color: floralwhite;
}

div {
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.mainBody {
  background: linear-gradient(90deg, rgba(96,0,186,1) 0%, rgba(0,78,194,1) 100%);
}

.documentationBody {
  background: linear-gradient(90deg, rgba(0,239,255,1) 0%, rgba(0,97,255,1) 100%);
}

.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 65;
  font-weight: bold;
}

.bottomText {
  font-size: 35;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

.inviteButton {
  background-color: #008CBA;
}

.documentationButton {
  background-color: #7700ff;
}
